body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
}

#wrapper.post {
    max-width: 750px;
}

.post h2 {
    color: #444;
}

pre code {
    font-size: 14px;
}

code {
    padding: 0.2em 0.4em;
    margin: 0;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;
}

.home {
    max-width: 600px;
    margin: 0 auto;
    padding: 0px 40px 20px 40px;
}

#post-list .dates {
    color: #757575;
}

p.small {
    color: #757575;
}
