  {{ partial "head.html" . }}
  <body>
    {{ partial "nav.html" . }}

    {{ partial "profile.html" . }}

    <section class="home">
        {{ partial "post-list.html"  . }}
        {{ partial "pagination.html" . }}
        {{ partial "footer.html"     . }}
    </section>

    {{ partial "js.html" . }}
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", function(user) {
          if (!user) {
            window.netlifyIdentity.on("login", function() {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
    </body>
</html>
